body {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    /* background: #CBE2E9; */
    /* background-image: url(../images/bg/gray-wall.jpg); */
    color: #000D30;
}

a {
    text-decoration: none;
}

.end {
    display: flex;
    align-items: end;
}

.col-md-6 {
    background: none;
}

.head-text {
    text-align: center;
    margin-top: 25vh;
    margin-bottom: 25vh;
    font-size: 24px;
}

.head-travel {
    text-align: center;
    margin: 10vh 0 5vh 0;
}

.head-travel b {
    text-align: center;
    /* font-size: 32px; */
    font-size: 2rem;
    font-weight: 500;
}

.head-text b {
    font-size: 26px;
    text-align: center;
}

.nav-link {
    font-size: 24px;
    margin-bottom: 20px;
}

.place {
    padding: 20px;
}

.img-hotel img {
    width: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin-bottom: 10px;
    /* border-radius: 20px; */
}

.detail b {
    text-align: center;
}

.btn {
    background: #000D30;
    margin-bottom: 10px;
    border: 0px;
    ;
}

.btn-map {
    background: #32A350 !important;
    color: #fff;
}

.btn-map:hover {
    background: #1d612f !important;
    color: #fff;
}

.detail b {
    font-size: 32px;
    padding-bottom: 20px;
    background: none;
}

.col-md-6 {
    background: none;
}

.content {
    font-size: 16px;
    padding: 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: rgb(255, 255, 255);
    background-color: #000D30;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #000D30;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

footer {
    background: #000D30;
    height: auto;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 10%;
    padding: 20px;
}