* {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    /* background: #CBE2E9; */
    /* background-image: url(../images/bg/gray-wall.jpg); */
    color: #000D30;
}

.container {
    background-color: none;
}

a {
    text-decoration: none;
}

.row {
    background: none;
}

.col-md-6 {
    background: none;
}

.head-text {
    text-align: center;
    margin-top: 25vh;
    margin-bottom: 25vh;
    font-size: 24px;
}

.head-travel {
    text-align: center;
    margin: 10vh 0 10vh 0;
}

.head-text b {
    font-size: 26px;
    text-align: center;
}

.nav-link {
    font-size: 24px;
}

.place {
    padding: 20px;
}

.img-hotel img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.detail {
    padding: 20px;
}

.detail b {
    font-size: 28px;
    padding-bottom: 20px;
    background: none;
}

.col-md-6 {
    background: none;
}

.content {
    font-size: 16px;
    padding: 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: rgb(255, 255, 255);
    background-color: #000D30;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #000D30;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

footer {
    background: #000D30;
    height: 20vh;
    width: 100%;
    color: #fff;
    margin-top: 10%;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}